---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface PageBlok extends SbBlokData {
  body?: SbBlokData[];
}

const { blok } = Astro.props as { blok: PageBlok };
---

<main {...storyblokEditable(blok)}>
  {blok.body?.map((nestedBlok) => <StoryblokComponent blok={nestedBlok} />)}
</main>
